<!DOCTYPE html>
<html>
<head>
  <% include ../partials/_header.ejs %>
</head>

<body>
  <main id="app">
</body>
 <script type="text/javascript" src="javascripts/bundle.js"></script>
 <script src="//api.filestackapi.com/filestack.js"></script>
 <script>filepicker.setKey("YOUR_API_KEY");</script>
